:root{
  --bgr-color:linear-gradient(45deg,#fffbf2,#edfffd);
  --primary-font: 'Rubik', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --primary-size: 18px;
  --secondary-size: 16px;
  --heading-size: 80px;
  --title-size: 58px;
  --menu-size: 21px;
  --primary-color:#ffba12;
  --hover-color:#0056b3;
  --yellow-color: #FFB840;
  --black-color: #000;
  --white-color: #fff;
  --blue-color: #6F55FF;
  --green-color:#23db93;
  --transition: all 450ms ease-in;
}
html {
  box-sizing: border-box;
  font-family: var(--primary-font);
}
*{
  margin: 0;
  padding: 0;
}
body{
  scroll-behavior: smooth;

}
a{
  display: block;
  text-decoration: none;
  color: var(--black-color);
}
li{
  list-style-type: none;
}
.btn{
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
  background-color: var(--primary-color);
  border-radius: 30px;
  font-size: 16px;
  font-family: var(--secondary-font);
  color: var(--blue-color);
  padding: 10px 35px;
  font-weight: 500;
}
img {
  display: block;
  max-width: 100%;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 15px; */
}
.blog{
  background: var(--bgr-color);
}